@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-albert: var(--font-albert-sans);

  --color-primary: #2f3a4b;
  --color-secondary: #ededed;

  --color-brand-bg: #fcece3;
  --color-brand-accent: #f0704e;
  --color-brand-accent-hover: #e35f3c;
  --color-brand-muted: #6b6b6b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #2f3a4b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .container {
    @apply mx-auto w-full px-20 py-3 sm:max-w-[600px] md:max-w-[740px] lg:max-w-[990px] xl:max-w-[1216px];
  }

  .button {
    @apply inline-flex items-center gap-2.5 bg-brand-accent text-white rounded-md px-7 py-4 text-[15px] font-bold shadow-brand-bg hover:bg-brand-accent-hover transition-colors;
  }
}
/* inline-flex items-center gap-2.5 text-[15px] font-bold shadow-brand-cta hover:bg-brand-accent-hover transition-colors */